<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title hi
    body
        include /site-header.pug
        
        .projects
            each project in projects
                a.project(
                    href=project.image,
                    style=`background-image: url(${project.image}); background-position: center ${project.imageAnchor || 'center'}`
                )
                    h2= project.name
                    p= project.logline
