<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie
    body
        include /site-header.pug
        
        .projects
            each project in projects
                a.project(
                    href=`/projects/${project.path}`,
                    style=`background-image: url(${project.image.src}); background-position: center ${project.image.anchor || 'center'}`
                )
                    h2= project.name
                    p= project.logline
