if project.image.src.includes("/videos/")
    .project-video-preview-wrapper
        .project.video-div
            .video-block(style=`align-items: ${project.image.anchor == 'bottom' ? 'flex-end' : 'center'};`)
                video.bgvid(muted="muted" loop="loop" height=project.image.height)
                    source(src=project.image.src)
                a.video-message(href=`/projects/${project.path}`)
                    h2= project.name
                    p= project.logline
                .date= project.date
else
    a.project(
        href=`/projects/${project.path}`,
        style=`background-image: url(${project.image.src}); background-position: center ${project.image.anchor || 'center'}`
    )
        h2= project.name
        p= project.logline
