.site-header
    a.banner(href="/")
        img(src="/images/portrait-sm.webp", alt=firstName, width="90px", height="94px")
        h1= `${firstName} ${lastName}`
    .info
        ul
            each point in bulletPoints
                li= point
        ul
            li
                a(href='mailto:'+email)= email
            li
                a(href=github target='blank')= github
            li
                a(href=resume target='blank') Resume
hr
