.site-header
    a.banner(href="/")
        img(src="https://gravatar.com/avatar/6f2a6c262d0b72601cbcb7a7d6fc11b2?s=1024", alt=firstName, height=90)
        h1= `${firstName} ${lastName}`
    .info
        ul
            each point in bulletPoints
                li= point
        ul
            li
                a(href='mailto:'+email)
                    img(src='/images/Mail.png', alt="Email:", width="16", height="16")
                    span=email
            li
                a(href=github target='blank')
                    img(src='/images/GitHub-Mark-32px.png', alt="Github:", width="16", height="16")
                    span=github
hr
