<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie
    body
        include /site-header.pug

        .content
            h2=project.name

            video(src=project.video.src max-width=project.video.width, max-height=project.video.height, type="video/webm", controls)
                a(href=project.video.src) Gameplay footage

            each paragraph in project.description
                p=paragraph
        
        .content.info
            ul
                li
                    a(href=project.entry, target='blank') Ludum Dare entry
                li
                    a(href=project.source, target='blank') Source code
                li
                    a(href=project.link, target='blank') Play
