<!DOCTYPE html>
html(lang="en")
    head
        include /head.pug
        title Nigel Baillie
    body
        include /site-header.pug

        .content
            h2=project.name

            video(src=project.video.src, type="video/webm", controls)
                a(href=project.video.src) Gameplay footage

            each paragraph in project.description
                p=paragraph
        
        .content.info
            ul
                if project.entry
                    li
                        a(href=project.entry, target='blank') Ludum Dare entry
                if project.source
                    li
                        a(href=project.source, target='blank') Source code
                li
                    a(href=project.link, target='blank') Play
                
                li
                    a(href="/") Return to projects list
